/* ==========================================================================
   Medium Layout: 1280px.
   ========================================================================== */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
    
    
    
    
    
    
    
    
}
/* ==========================================================================
   Tablet Layout: 768px. 
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
    
    
    
    
    
    
    
    
    
 
    
    
}
/* ==========================================================================
   Wide Mobile Layout: 480px.
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

    
    
    
    
    
    
    
    
}



/* ==========================================================================
   Mobile Layout: 320px.
   ========================================================================== */
@media only screen and (min-width: 200px) and (max-width: 479px) { 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}       